* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.containerPoke {

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;

    .pokeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            background-color: #E9E9E9;
            padding: 10px 0;

            img {
                border-radius: 15px 15px 0 0;
                width: 135px;
            }
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 15px;
            padding: 3px 0;
            background-color: #242424;
            color: white;
        }
    }
}
